.outer {
  width: 100%;
  background: rgb(240, 142, 53);

  display: flex;
  justify-content: center;
}

.inner {
  width: 700px;
  max-width: 80vw;
  color: white;
  text-align: center;
}

.inner h1 {
  text-align: center;
  margin: 50px 0;
  font-size: 3em;
}

.inner p {
  text-align: justify;
  margin: 50px 0;
  font-size: 1.2em;
  text-indent: 2em;
  line-height: 1.4em;
}

.inner a {
  position: relative;
}
.inner a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  background-color: white;
  transition: all 0.3s ease;
}
.inner a:hover::after {
  width: 100%;
}

.inner p {
  color: rgba(255, 255, 255, 0.75);
}
.inner a,
.inner b,
.inner i {
  color: rgba(255, 255, 255, 1);
}

.title::after {
  content: "";
  display: block;
  position: relative;
  width: 25px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  border-bottom: 2px dashed rgba(255, 255, 255, 1);
  opacity: 0.4;
  transition: width 0.6s ease-in-out;
}
.title:hover::after {
  width: 200px;
}

.title span {
  position: relative;
  bottom: 0;
}
.title:hover span {
  bottom: 10px;
}
.title .hover1 {
  transition-delay: 0;
}
.title .hover2 {
  transition-delay: 0.05s;
}
.title .hover3 {
  transition-delay: 0.1s;
}
.title .hover4 {
  transition-delay: 0.15s;
}
.title .hover5 {
  transition-delay: 0.2s;
}
.title .hover6 {
  transition-delay: 0.25s;
}
.title .hover7 {
  transition-delay: 0.3s;
}
