.outer {
  width: 100%;
  background: rgb(240, 142, 53);

  display: flex;
  justify-content: center;
}

.inner {
  width: 700px;
  max-width: 80vw;
  color: white;
  text-align: center;
  padding-top: 25px;
}

.inner h1 {
  text-align: center;
  margin: 50px 0;
  font-size: 3em;
}

.inner p {
  text-align: justify;
  margin: 50px 0;
  font-size: 1.2em;
  text-indent: 2em;
  line-height: 1.4em;
}

.inner a {
  position: relative;
}
.inner a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  background-color: white;
  transition: all 0.3s ease;
}
.inner a:hover::after {
  width: 100%;
}

.inner p {
  color: rgba(255, 255, 255, 0.75);
}
.inner a,
.inner b,
.inner i {
  color: rgba(255, 255, 255, 1);
}

.title {
  display: inline;
}

.title::after {
  content: "";
  display: block;
  position: relative;
  width: 25px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  border-bottom: 2px dashed rgba(255, 255, 255, 1);
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}
.title:hover::after {
  width: 250px;
  opacity: 1;
}

.title span {
  position: relative;
  bottom: 0;
  transition-duration: 0.2s;
}
.title:hover span {
  bottom: 10px;
  padding: 0 2px;
}
.title .hover1 {
  transition-delay: 0;
}
.title .hover2 {
  transition-delay: 0.05s;
}
.title .hover3 {
  transition-delay: 0.1s;
}
.title .hover4 {
  transition-delay: 0.15s;
}
.title .hover5 {
  transition-delay: 0.2s;
}
.title .hover6 {
  transition-delay: 0.25s;
}
.title .hover7 {
  transition-delay: 0.3s;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 25px;
  opacity: 0.5;
  font-size: 1.2em;
}
.contact a::after {
  display: none;
}
.contact a:hover {
  opacity: 1;
}

@media (max-width: 600px) {
  .contact {
    flex-direction: column;
    justify-content: center;
  }
  .contact > * {
    margin: 10px;
  }
}
