.container {
  margin-bottom: 50px;
}

.container p {
  width: 360px;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
  border: 2px dashed #77bbcc;
  border-radius: 100px 40px 40px 100px;
  padding-right: 20px;
  font-size: 1.2em;
  text-align: center;
}

.container p img {
  width: 100%;
  transform: scale(1.06);
}

@media (max-width: 400px) {
  .container p {
    display: block;
    width: unset;
    padding: 15px 20px;
    border-radius: 20px;
    margin: 20px;
  }
  .container p img {
    display: none;
  }
}
